<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New To Do List</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>
    <h1>Enter details for new To Do List</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}  
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
    <a href="{% url 'listupdate' %}">Update My Lists</a>
    <a href="{% url 'listadd' %}">Add a new List</a>
  
    <a href="{% url 'mylists' %}">My Lists</a>
  </body>
</html>